database_mysql:
  image: mysql:5.7.23
  environment:
    - MYSQL_ROOT_PASSWORD=qwerty
    - MYSQL_DATABASE=sound-box-app
  ports:
    - 3308:3306
  container_name: sound-box-app_db_container
  command: mysqld --sql-mode=""